* {
  margin: 0;
  padding: 0;
}

body {
  touch-action: none;
  overflow: hidden;
}


img {
  max-width: 100%;
  vertical-align: top;
}

.webtoon {
  max-width: 690px;
  margin: 0 auto;
}

.pinch-zoom-native {
  position: fixed;
  inset: 0;
}
